<div class="card">
  <div class="card-header">
    <div class="fa fa-user"></div>
    <%= link_to user.email, user_path(user) %>
    <% if user.online? %>
      <div class="text-success fa fa-circle"></div> 
    <% else %>
      <div class="text-danger fa fa-circle"></div> 
    <% end %>
  </div>
  <div class="card-footer">
    Signed up 
    <%= time_ago_in_words(user.created_at) %>
  </div>
  <div class="card-footer">
  <div class="row">
    
  </div>
     <div class="row">
     <%= "sign_in_count:".humanize %>
     <%= user.sign_in_count %>
     </div>
     <div class="row">
     <%= "current_sign_in_at:".humanize %>
     <%= user.current_sign_in_at %>
     </div>
     <div class="row">
     <%= "last_sign_in_at:".humanize %>
     <%= user.last_sign_in_at %>
     </div>
     <div class="row">
     <%= "current_sign_in_ip:".humanize %>
     <%= user.current_sign_in_ip %>
     </div>
     <div class="row">
     <%= "last_sign_in_ip:".humanize %>
     <%= user.last_sign_in_ip  %>
     </div>
     <div class="row">
     <%= "courses_count:".humanize %>
     <%= user.courses_count  %>
     </div>
     <div class="row">
     <%= "enrollments_count:".humanize %>
     <%= user.enrollments_count  %>
     </div>
     <div class="row">
     <%= "comments_count:".humanize %>
     <%= user.comments_count  %>
     </div>
  </div>
  
    <div class="card-footer">
      Confirmed email?
      <% if user.confirmed_at.present? %>
      <div class="badge badge-success">Yes</div>
      <% else %>
      <div class="badge badge-danger">No</div>
      <% end %>
    </div>
    
    <% if policy(user).edit? %>
      <div class="card-footer">
        <% user.roles.each do |role| %>
        <div class="badge badge-success">
          <%= role.name %>
        </div>
        <% end %>
        <br>
        <%= link_to "Edit user role", edit_user_path(user), class: "btn btn-warning" %>
      </div>
    <% end %>
</div>