<h3 class="text-center">Users
  <div class="badge badge-info"><%= @users.count %></div>
</h3>
<div class="row my-4 mx-1">
<%= search_form_for @q do |f| %>
  <%= f.search_field :email_cont, placeholder: "Filter by email" %>
  <%= f.submit %>
<% end %>
<%= link_to users_path, class: "btn btn-secondary" do %>
  <div class="fa fa-sync"></div>
<% end %>
</div>

<div class="card-columns rounded p-1">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>



