  <h3 class="text-center">Activities 
    <div class="badge badge-primary"><%= @activities.count %></div>
  </h3>

<% @activities.each do |activity| %>
  <ul class="list-group">
  <li class="list-group-item">
    <%= activity.id %>
    <%= activity.trackable_type %>
    <%= activity.trackable_id %>
    <%= link_to activity.trackable.title, activity.trackable %>
    <%= activity.key %>
    <%= activity.parameters %>
    <%= activity.owner.email %>
  </li>
  </ul>
<% end %>