<% content_for :title do %>
  CourseApp | Learn now!
<% end %>

<div class="jumbotron my-5">
  <h1 class="display-4 pb-4">What do you want to learn today?</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum nesciunt magni ipsum, illum consectetur aut quod itaque id enim suscipit soluta minima. Optio odio placeat ex, deleniti vitae voluptates maiores?</p>
</div>

<div class="card-group text-center rounded my-5">
  <div class="card">
    <div class="card-body">
      <h3>
        <div class="fa fa-book"></div>
        <%= Course.count %>
        Online courses
      </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>
        <div class="fa fa-chalkboard-teacher"></div>
        <%= User.count %>
        Teachers
      </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>
        <div class="fa fa-user"></div>
        <%= User.count %>
        Active users
      </h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3>
        <div class="fa fa-infinity"></div>
        Life-time access
      </h3>
    </div>
  </div>
</div>


<hr>

<% if current_user && current_user.enrollments.any? %>
  <h2><div class="fa fa-graduation-cap"></div> Continue learing</h2>
  <div class="card-columns">
    <% @purchased_courses.each do |course| %>
      <%= render course %>
    <% end %>
    <div class="text-right">
      <%= link_to "All your purchased courses", purchased_courses_path, class: "" %>
    </div>
  </div>
<hr>
  
<% end %>

<h2><div class="fa fa-chart-line"></div> Popular courses</h2>
  <div class="card-columns">
    <% @popular_courses.each do |course| %>
      <%= render course %>
    <% end %>
    <div class="text-right">
      <%= link_to "More popular courses", courses_path(courses_search: {s: 'enrollments_count desc'} ), class: "" %>
    </div>
  </div>
<hr>
<h2><div class="fa fa-star"></div> Top rated</h2>
  <div class="card-columns">
    <% @top_rated_courses.each do |course| %>
      <%= render course %>
    <% end %>
    <div class="text-right">
      <%= link_to "Top rated courses", courses_path(courses_search: {s: 'average_rating desc'} ), class: "" %>
    </div>
  </div>
<hr>
<h2><div class="fa fa-clock"></div> Latest courses</h2>
  <div class="card-columns">
    <% @latest_courses.each do |course| %>
      <%= render course %>
    <% end %>
    <div class="text-right">
      <%= link_to "More new courses", courses_path(courses_search: {s: 'created_at desc'} ), class: "" %>
    </div>
  </div>
<hr>
<h2><div class="fa fa-comment"></div> What our students want to say</h2>
  <div class="card-columns">
    <% @enrollments.each do |enrollment| %>
      <%= render 'enrollments/enrollment', enrollment: enrollment %>
    <% end %>
  </div>