<div class="center">
  <h2><%= @enrollment.course.title %> for <%= @enrollment.user.email %></h2>
</div>

<h3>User <%= @enrollment.user.email %> succesfully completed course!</h3>
<h3><b>Certificate id:</b> <%= @enrollment.slug %></h3>
<h3><b>Certificate url:</b> <%= request.base_url %><%= request.original_fullpath %></h3>
