<div class="card mb-2">
  <div class="card-header">
    <% if lesson.viewed(current_user) == true %>
      <div class="far fa-check-square text-success"></div> 
    <% else %>
      <div class="far fa-square text-danger"></div> 
    <% end %>
    <%= link_to lesson.title, course_lesson_path(@course, lesson) %>
  </div>
  <% if policy(lesson).show? %>
    <div class="card-body">
      <% if lesson.video.attached? %>
        <div class="embed-responsive embed-responsive-16by9">
          <video controls="true" width="100%" preload="metadata" controlslist="nodownload" 
                  poster="<%= @lesson.video_thumbnail.present? ? url_for(@lesson.video_thumbnail) : "" %>">
            <source src="<%= rails_blob_url(@lesson.video) %>" type="<%= @lesson.video.content_type %>">
          </video>

        </div>
      <% end %>
      <%= lesson.content %>
    </div>
  <% end %>
  <% if policy(lesson).edit? %>
    <div class="card-footer">
      <%= link_to "Edit", edit_course_lesson_path(@course, lesson), class: "btn btn-warning" %>
      <%= link_to "Destroy", [@course, lesson], method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </div>
  <% end %>
  <div class="card-footer">
    <% if lesson.prev.nil? %>
      <div class="btn btn-outline-success btn-sm disabled"><div class="fa fa-arrow-left"></div> Previous</div>
    <% else %>
      <%= link_to course_lesson_path(@course, lesson.prev), class: "btn btn-outline-success btn-sm" do %>
        <div class="fa fa-arrow-left"></div> Previous
      <% end %>
    <% end %>
    <% if lesson.next.nil? %>
      <div class="btn btn-outline-primary btn-sm disabled">Next <div class="fa fa-arrow-right"></div></div>
    <% else %>
      <%= link_to course_lesson_path(@course, lesson.next), class: "btn btn-outline-primary btn-sm" do %>
        Next <div class="fa fa-arrow-right"></div>
      <% end %>
    <% end %>
    
  </div>
</div>