<%= link_to course_lesson_path(@course, lesson) do %>
  <% if lesson.viewed(current_user) == true %>
    <div class="far fa-check-square text-success"></div> 
  <% else %>
    <div class="far fa-square text-danger"></div> 
  <% end %>
  <b>
    <%= lesson.row_order_rank + 1 %>.
  </b>
  <%= lesson.title %>
  <div class="float-right">
    <% if policy(lesson).edit? %>
      <span class="fa fa-eye"></span> <%= lesson.user_lessons_count %> 
    <% end %>
    <span class="fa fa-comment"></span> <%= lesson.comments_count %>
  </div>
<% end %>
