<%= link_to "Courses", courses_path %> /
<%= link_to @lesson.course.title, course_path(@lesson.course) %> / 
<%= link_to @lesson.title, course_lesson_path(@lesson.course) %> /
edit


<div class="card">
  <div class="card-header">
    <h1>Editing Lesson</h1>
  </div>
  <div class="card-body">
    <%= render 'form', lesson: @lesson %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show lesson', course_lesson_path(@lesson.course), class: "btn btn-primary my-2" %> 
    <%= link_to 'Back to course', course_path(@lesson.course), class: "btn btn-primary" %>
  </div>
</div>