<% content_for :title do %>
  CourseApp | <%= @course.title %> | <%= @lesson.course.title %>
<% end %>

<div class="mb-3">
<%= link_to "Courses", courses_path %> /
<%= link_to @lesson.course.title, course_path(@lesson.course) %> / 
<%= link_to @lesson.title %>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'lessons/lesson', lesson: @lesson %>
    <hr>
    <div class="comments">
    <div class="card">
      <h3 class="card-header"><span class="fa fa-comment-medical"></span> New comment</h3>
      <div class="card-body">
        <%= render 'lessons/comments/form' %>
      </div>
    </div>
    <% if @lesson.comments.any? %>
      <hr>
      <div class="card">
        <div class="card-header">
          <h3><span class="fa fa-comment"></span> <%= @lesson.comments_count %> Comments</h3>
        </div>
        <div class="card-body" id="comment_box">
        <% @comments.each do |comment| %>
          <%= render 'lessons/comments/comment', comment: comment %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>

  </div>
  <div class="col-md-4">
      <li class="list-group-item list-group-item-action">
          <%= link_to course_path(@lesson.course) do %>
          <div class="fa fa-graduation-cap"></div> <%=  @course.title %>
        <% end %>
        <br>
        Your progress so far is <%= number_to_percentage(@course.progress(current_user), precision: 0) %>.    
      </li>
    <% @lessons.each do |lesson| %>
      <% if lesson == @lesson %>
      <li class="list-group-item list-group-item-action list-group-item-success">
        <%= render 'lessons/lesson_preview', lesson: lesson %>
      </li>
      <% else %>
      <li class="list-group-item list-group-item-action">
        <%= render 'lessons/lesson_preview', lesson: lesson %>
      </li>
    <% end %>
    <% end %>
  </div>
</div>


<div class="card-body">
  <%= link_to 'Back to course', course_path(@lesson.course), class: "btn btn-primary" %>
</div>
