  <div class="card text-center mb-1 bg-transparent border border-dark">
    <div class="card-header bg-dark ">
    <div class="fa fa-book"></div>
      <%= link_to course.title, course_path(course) %>
    </div>
    <div class="card-body ">
      <p class="card-text"><%= course.description %></p>
    </div>
    <div class="card-footer bg-dark">
      <%= course.created_at.strftime('%d-%B-%Y') %> by 
      <%= course.user.email %>
      <div class="fa fa-chalkboard-teacher"></div>
    </div>
    <div class="card-footer bg-dark">
        <%= link_to 'Edit', edit_course_path(course), class: "btn btn-warning" %>
        <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
