<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, as: :rich_text_area, label: 'Description', placeholder: 'Text goes here' %>
    <%= f.input :short_description %>
    <%= f.input :level, collection: Course.levels %>
    <%= f.input :language, collection: Course.languages %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn" %>
  </div>
<% end %>


