<% content_for :title do %>
  CourseApp | <%= @course.title %>
<% end %>

<div class="breadcrumbs pb-3">
  <%= link_to "Courses", courses_path %> / 
  <%= link_to @course.title %>
</div>

<div class="row">
  <div class="col-lg-8 order-1 order-lg-1">
    <div class="jumbotron">
      <h3><div class="fa fa-graduation-cap"></div> <%= @course.title %></h3>
      <p><%= @course.description %></p>

    </div>
    
    <% @lessons.each do |lesson| %>
      <%= render 'lessons/lesson', lesson: lesson %>
    <% end %>
  </div>


  <div class="col-lg-4 order-0 order-lg-1">
    <%= render @course %>
    <% if policy(@course).edit? %>
    <%= link_to "Add lesson", new_course_lesson_path(@course, @lesson), class: "btn btn-primary btn-block my-2" %>
    <% end %>
  </div>


</div>

